* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {

  --white-200: #FFF;
  --white-300: #F5F5F5;
  --black-900: #08131F;
  --black-700: #37474F;

  --dark-900: #101026;
  --dark-700: #1D1D2E;

  --gray-100: #8A8A8A;
  --green-900: #3fffa3;
  --red-900: #FF3F4B;

  --red-100: red;
  --red-200: firebrick;

  --github: #333333;
  --likedin: #0077B5;
  --whatsapp: #14E956;

}

.light {
  color: var(--black-900);
  background-color: var(--white-200);
}

.dark {
  color: var(--white-200);
  background-color: var(--black-900);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

body, input, textarea, select, button {
  font: 400 1rem sans-serif; // 1rem = 16px
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // vai gerar 14px;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // vai gerar 15px;
  }


}