.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--red-900);

  img {
    width: 50px;
  }
}

.navBarOpen {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  min-width: 100vh;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.midia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100% ;
  padding: 2rem;

  p {
    font-size: 3rem;
  }

  img {
    margin-left: 2rem;
    width: 50px;
  }
}

.otherFields {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.navBarClose {
  background-color: var(--red-900);
  display: flex;
  justify-content: end;
  padding: 1rem;
  height: 20%;
}

.navigation {
  padding: 2rem;
  background-color: #1D1D2E;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.text {
  margin-top: 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  color: white;
}

.github {
  background-color: var(--github);
}

.likedin {
  background-color: var(--likedin);
}

.whatsapp {
  background-color: var(--whatsapp);
}