// navbar.module.scss

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 2rem;

  &.light {
    background-color: var(--white-300);
  }

  &.dark {
    background-color: var(--black-700);
  }

  img {
    width: 100px;
  }

  .navigation {
    display: flex;
    align-items: center;

    .text {
      margin-left: 2rem;
      font-size: 1.5rem;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
